section.about
	h2#about À propos de ce site
	p Ce site est avant tout issu d'un objectif personnel d'auto-apprentissage du lecteur d'écran <a href="https://www.nvda-fr.org/" target="_blank" rel="noopener noreferrer">NVDA <span class="external">(lien externe)</span></a> utilisé dans un contexte de navigation web. 
	p Apprenant beaucoup plus facilement par la pratique et la recopie, je me suis mis en tête de construire une sorte de fiche mémo en me basant sur le <a href="https://www.nvda-fr.org/doc/keyCommands.html" target="_blank" rel="noopener noreferrer">résumé des commandes du site de nvda-fr.org <span class="external">(lien externe)</span></a>.
	h2#author À propos de l'auteur
	p Mon nom est Alexis, je suis intégrateur web freelance et consultant en accessibilité numérique chez <a href="https://ideance.net/" target="_blank" rel="noopener noreferrer">Ideance <span class="external">(lien externe)</span></a>.
	p Passionné depuis toujours par ce que le web est en mesure d’apporter au monde, je suis féru de <strong>HTML</strong> et <strong>CSS</strong> depuis mes débuts.<br>Ces langages, faciles à utiliser mais difficiles à maitriser, sont mes outils au quotidien et constituent le fil principal de ma veille. J’adore discuter de sémantique, d’animations, de SEO, d’accessibilité, d’éco-conception, de responsive et d'ergonomie.
	p <a href="https://alexis-degryse.com/" rel="noopener noreferrer">En savoir plus sur moi</a>.
