section.about
	h2#about À propos de ce site
	p Ce site est avant tout issu d'un objectif personnel d'auto-apprentissage du lecteur d'écran <a href="https://www.nvda-fr.org/" target="_blank" rel="noopener noreferrer">NVDA <span class="external">(lien externe)</span></a> utilisé dans un contexte de navigation web. 
	p Apprenant beaucoup plus facilement par la pratique et la recopie, je me suis mis en tête de construire une sorte de fiche mémo en me basant sur le <a href="https://www.nvda-fr.org/doc/keyCommands.html" target="_blank" rel="noopener noreferrer">résumé des commandes du site de nvda-fr.org <span class="external">(lien externe)</span></a>.
	h2#author À propos de l'auteur
	p Mon nom est Alexis et je suis Intégrateur web. Je travaille actuellement chez INEAT (situé à Lille, France) en tant que <span lang="en">Lead dev</span> intégration web. Je suis responsable de l'accompagnement technique de tous les sujets inhérents à ce domaine - sémantique, interface, accessibilité, ergonomie, référencement, performances, etc. - sujets qui me passionnent depuis toujours. 
	p Si vous voulez en savoir plus sur moi, voici <a href="https://alexis-degryse.com/" target="_blank" rel="noopener noreferrer">mon site personnel <span class="external">(lien externe en anglais)</span></a>.