footer(role="contentinfo", class="footer")
	.footer__sep
		svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none")
			path(d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z") 
	.footer__content
		.tip
			a(href="https://ko-fi.com/twogrey")
				img(src="https://uploads-ssl.webflow.com/5c14e387dab576fe667689cf/61e11d6ea0473a3528b575b4_Button-3-p-500.png", alt="Me soutenir sur ko-fi.com", loading="lazy", width="200", height="31")  
		h2 Contact
		p Si vous rencontrez un problème de consultation ou d'utilisation avec ce site, ou si vous souhaitez simplement échanger avec moi, n'hésitez pas à me contacter à l'adresse <a href="mailto:alexis.degryse@gmail.com">alexis.degryse@gmail.com</a>.
		h2 Mes réseaux
		p Vous pouvez également échanger avec moi sur les réseaux suivants : 
			a(href="https://twitter.com/twogrey", class="link-icon", target="_blank", rel="noopener noreferrer")
				svg(aria-hidden="true")
					use(xlink:href="#icon-twitter")
				| Twitter
			|, 
			a(href="https://www.linkedin.com/in/alexis-degryse", class="link-icon", target="_blank", rel="noopener noreferrer")
				svg(aria-hidden="true")
					use(xlink:href="#icon-linkedin")
				| Linkedin
			|, 
			a(href="https://codepen.io/twogrey", class="link-icon", target="_blank", rel="noopener noreferrer")
				svg(aria-hidden="true")
					use(xlink:href="#icon-codepen")
				| Codepen
			|&nbsp;et&nbsp;
			a(href="https://github.com/twogrey", class="link-icon", target="_blank", rel="noopener noreferrer")
				svg(aria-hidden="true")
					use(xlink:href="#icon-github")
				| GitHub
			|.
		h2 Informations pratiques
		h3 Crédits des icones
		p Les icones utilisées pour illustrer les commandes proviennent toutes de <a href="https://tablericons.com/" target="_blank" rel="noopener noreferrer">tablericons.com <span class="external">(lien externe en anglais)</span></a>
		h3 Hébergement 
		p Ce site est hébergé avec <a href="https://pages.github.com/" target="_blank" rel="noopener noreferrer">GitHub Pages <span class="external">(lien externe en anglais)</span></a> dont le code source se trouve <a href="https://github.com/twogrey/NVDA-cheatsheet" target="_blank" rel="noopener noreferrer">à cette adresse <span class="external">(lien externe en anglais)</span></a>. <span lang="en">Pull request</span> bienvenue !
		h3 Données personnelles
		p Aucune donnée personnelle n'est collectée sur ce site. 
		p Vos préférences (choix de thème clair ou sombre, affichage selon ordinateur de bureau ou ordinateur portable) sont stockées en local sur votre machine. 