.command {
	--toggle-size: 2.5rem;
	--toggle-o: calc(var(--gap) / 4);
	--dropdown-bg: var(--color-primary-lightest);
	--gap: 1rem;
	--icon-s: min(10vw, 5rem);
	position: relative;
	padding: calc(var(--gap) * 1.5);
	border-bottom: 0.2rem solid var(--color-primary-light);
	border-radius: 0.25rem;
	background-color: var(--white);
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
	
	[data-theme='dark'] & {
		--dropdown-bg: var(--color-primary-dark);
		border-bottom-color: transparent;
		background-color: rgba(0, 0, 0, 0.2);
		box-shadow: 0.25rem 0.25rem 0 0 #222;
	}
	
	&__content {
		display: grid;
		gap: var(--gap);
		grid-template-columns: var(--icon-s) 1fr;
	}
	
	&__icon {
		max-width: 100%;
		height: var(--icon-s);
		color: var(--color-primary-light);
	}
	
	figcaption {
		display: flex;
		align-items: center;
		min-height: var(--icon-s);
		padding-right: calc(var(--toggle-size) + var(--toggle-o) * 2 - var(--gap));
		margin-bottom: var(--gap);
		font-size: min(5vw, 1.25rem);
		font-weight: 400;
	
		@media (min-width: 30rem) {
			min-height: 0;
		}
	}
	
	p {
		margin-top: calc(var(--gap) * 1.5);
		margin-bottom: 0;	
	}
	
	&__dropdown {
		top: var(--toggle-o);
		left: var(--toggle-o);
		width: calc(100% - var(--toggle-o) * 2);
		pointer-events: none;
		
		.dropdown__toggle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--toggle-size);
			height: var(--toggle-size);
			border-radius: 0.25rem;
			color: var(--color-primary);
			cursor: pointer;
			transition: background-color 0.2s, color 0.2s;
			
			&:hover,
			&[aria-expanded='true'] {
				background-color: var(--dropdown-bg);
			}
			
			svg {
				width: 50%;
				height: 50%;
			}
		}
		
		.dropdown__content {
			background-color: var(--dropdown-bg);
		}
	}

	&__keys {
		margin-left: calc((var(--icon-s) + var(--gap)) * -1);
	
		@media (min-width: 30rem) {
			margin-left: 0;
		}
	}
}
